<footer class="bg-primary text-center">
    <div class="container">
        <p class="text-muted">Powerd by;</p>
        <img id="moet" alt="">
        <h4 class="footer-header">The Kingdom of Eswatini</h4>
        <div class="text-white ">
            <h5 class="mb-2">MINISTRY OF LABOR AND SOCIAL SECURITY</h5>
            <p>MEASUREMENT, TESTING AND PLACEMENT</p>
        </div>
    </div>
    <div class="text-center text-white p-3">
        &copy; <span id="currentDate"></span> Career Quest | Career Interest | Career Guidance
    </div>
</footer>